body{
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    background: rgb(87, 87, 87);
    color: aliceblue;
}

div:hover{
    border-bottom: 2px solid gold;
    bottom: 4px;
    left: 0;
}

h2:hover{
    border-bottom: 2px solid gold;
    bottom: 4px;
    left: 0;
}