* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #585858;
    color: black;
    font-family: monospace;
}

#aplicacion {
    padding: 90px;
    margin: 90px;
    width: 30%;
    text-align: center;
    justify-content: center;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    border-left: 2px dashed white;
    border-right: 2px dashed white;
}

p{
    margin: 15px;
    border-bottom: 1px dashed white;
    display: inline-block;
}

a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}

a:hover {
    opacity: 1;
}
