body{
    background: #7a97d2;
}

h2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: black;
}
button{
    font-size: larger;
    font-family: cursive;
    margin: 200px 100px;
    padding: 25px 15px;
    background-color: #1d2534;
    color: white;
    border: 5px solid white;
}

button:hover{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUjT0BWDoZInp8NuvDqdbS95ECixL6gvvKBA&s);
    border-color: whitesmoke;
    border: none;
}

div{
    text-align: center;
    justify-content: center;
}