body{
    background: #7a97d2;
}

button{
    font-size: larger;
    font-family: cursive;
    margin: 200px 100px;
    padding: 25px 15px;
    background-color: #1d2534;
    color: white;
}

button:hover{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUjT0BWDoZInp8NuvDqdbS95ECixL6gvvKBA&s);
    border-color: whitesmoke; 
}

div{
    text-align: center;
    justify-content: center;
}