body {
    background-color: grey;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
}

h2{
    color: white;
    margin-top: 100px;
    display: inline-block;
    border-bottom: 2px black solid;
}

h2:hover {
    color: red;
    border: none;
}

.detalle{
    color: black;
}

.detalle:hover{
    color: red;
}

a{
    text-decoration: none;
    color: orangered;
    border-bottom: 2px solid black;
}